{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div itemscope itemtype="https://schema.org/Person">

  {% if author.avatar contains 'http' %}
    <img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
  {% else %}
    <img src="{{ site.github.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
  {% endif %}

  <h3 itemprop="name">{{ author.name }}</h3>
  <p>{{ author.bio }}</p>

  <div class="author-links">
    {% if author.email %}<a href="mailto:{{ author.email }}" class="author-social" target="_blank"><i class="fa fa-fw fa-envelope"></i> Email</a>{% endif %}
    {% if author.google.scholar %}<a href="https://scholar.google.fr/citations?user={{ author.google.scholar}}" class="author-social" target="_blank"><i class="ai ai-fw ai-google-scholar"></i> Scholar</a>{% endif %}
    {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}" class="author-social" target="_blank"><i class="fa fa-fw fa-twitter"></i> Twitter</a>{% endif %}
    {% if author.github %}<a href="https://github.com/{{ author.github }}" class="author-social" target="_blank"><i class="fa fa-fw fa-github"></i> GitHub</a>{% endif %}
    {% if author.linkedin %}<a href="https://linkedin.com/in/{{ author.linkedin }}" class="author-social" target="_blank"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a>{% endif %}
    {% if author.orcid %}<a href="https://orcid.org/{{ author.orcid }}" class="author-social" target="_blank"><i class="ai ai-fw ai-orcid"></i> ORCID</a>{% endif %}
    {% if author.researchgate %}<a href="https://www.researchgate.net/profile/{{ author.researchgate }}" class="author-social" target="_blank"><i class="ai ai-fw ai-researchgate"></i> ResearchGate</a>{% endif %}
  </div>

</div>
